<h1>Login</h1>
   <%= form_tag sessions_path do %>
   <%= label_tag :email%>
   <%= password_field_tag :email%><br>4 
   <%= submit_tag "Submit"%>
<%end%>

<%- flash.each do |name, message| %>
<p><i><%= "#{name}: #{message}" %></i></p>
<% end %>