<%=past_events_header%>
<div class="past_events">
  <div class="past_events_index"><%=past_events_index%></div>
  <div><%=past_events_see%></div>
</div>
<%=upcoming_events_header%>
<div class="past_events">
  <div class="upcoming_events_index"><%=upcoming_events_index%></div>
  <div class="upcoming_events_see"><%=upcoming_events_see%></div>
   <div><%=upcoming_events_book%></div>
</div>
