<h1>Event Name</h1>
<%=@event.name %>
<h2>Event Description</h2>
<%=@event.description%>
<h1>Event Location</h1>
<%=@event.location%>
<h2>Event Date</h2>
<%=@event.date%>
<h1><%=@users_ids_array.length  %>  registered users</h1>
<%@users_ids_array.each_with_index do |id,index|%>
  <h1> <%= index + 1  %>) Name:<%=User.all[id -1 ].name%></h1>
  <h2>Email:<%==User.all[id -1 ].email%></h2>
<% end %>
