<h1>Event Name</h1>
<%=@event.name %>
<h2>Event Description</h2>
<%=@event.description%>
<h1>Event Location</h1>
<%=@event.location%>
<h2>Event Date</h2>
<%=@event.date%>
<h1>Registered users</h1>
<%=@event.attendees.length%>
<%@event.attendees.each_with_index do |attendee,index|%>
  <h2><%=index + 1 %>) Name:<%=attendee.name%></h2>
  <h3>Email:<%=attendee.email%> </h3>
<% end %>




 