<!DOCTYPE html>
<html>
  <head>
    <title>EventBrite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %><br>
    <%if logged_in?%>
      <h1><%=current_user.name%>-logged in</h1>
    <% end %>

    <%= button_to "Sign up",new_user_path, method: :get if (!logged_in? && controller_name != 'users')%><br>
    <%= button_to "Log in",new_session_path, method: :get if !logged_in?%><br>
    <%= button_to "Sign out",sign_out_path, method: :delete if logged_in?%><br>
    <%=link_to 'Home', root_path%>
  </body>
</html>
